@media (min-width: 320px) and (max-width: 321px) {
  .form_student, .form_teacher {
    top: 16px;
    left: 0;
    width: 100%;
    height: 500px;
  }
  #astro {
    width: 245px;
    position: absolute;
    top: 210px;
    opacity: 0.2;
    left: 11%;
  }
  .iam {
    font-size: 22px;
    position: relative;
    left: 0;
  }
  .but1 {
    height: 50px;
    font-size: 19px;
    font-family: 'Circe Regular';
    font-weight: 500;
  }
  .form_teacher > input, .form_student > input {
    font-size: 22px;
  }
  .form_teacher > input::placeholder, .form_student > input::placeholder {
    font-size: 15px;
  }
  .wrap_err {
    width: 93%;
    position: absolute;
    left: 3%;
    top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3px 1fr 3px 1fr 3px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
  }
  .each_err {
    margin-bottom: -1px;
    color: white;
    background-color: #FE2E2E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
    font-size: 6px;
    padding: 4px;
  }
  #suc_do {
    width: 123px;
    top: -125px;
    left: 89px;
  }
  #you_suc2 {
    font-size: 17px;
  }
  .mod_co {
    top: -16px;
  }
  .nest_modal {
    width: 100%;
    height: 373px;
    top: -9vh;
  }
  #telecheck {
    width: 120px;
    position: relative;
    left: 32%;
  }
  #textDone {
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 1000px) and (orientation: portrait) {
  .form_student, .form_teacher {
    top: 16px;
    left: -20px;
    width: 115%;
    height: 500px;
  }
  #astro {
    width: 245px;
    position: absolute;
    top: 210px;
    opacity: 0.2;
    left: 11%;
  }
  .iam {
    font-size: 22px;
    position: relative;
    left: 0;
  }
  .but1 {
    height: 50px;
    font-size: 19px;
    font-family: 'Circe Regular';
    font-weight: 500;
  }
  .form_teacher > input, .form_student > input {
    font-size: 22px;
  }
  .form_teacher > input::placeholder, .form_student > input::placeholder {
    font-size: 15px;
  }
    .wrap_err {
      width: 93%;
      position: absolute;
      left: 3%;
      top: 20px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 3px 1fr 3px 1fr 3px 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3px;
    }
    .each_err {
        margin-bottom: -1px;
        color: white;
        background-color: #FE2E2E;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        border-radius: 10px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 10px 10px 10px 0;
        font-size: 6px;
        padding: 4px;
      }
  #suc_do {
    width: 123px;
    top: -125px;
    left: 89px;
  }
  #you_suc2 {
    font-size: 17px;
  }
  .nest_modal {
    width: 100%;
    height: 373px;
    top: -9vh;
  }
  #telecheck {
    width: 120px;
    position: relative;
    left: 35%;
  }
  #textDone {
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 1000px) and (orientation: landscape) {
  .form_student, .form_teacher {
    top: 16px;
    left: -64px;
    width: 156%;
    height: 500px;
  }
  #astro {
    width: 245px;
    position: absolute;
    top: 210px;
    opacity: 0.2;
    left: 11%;
  }
  .iam {
    font-size: 22px;
    position: relative;
    left: 0;
  }
  .but1 {
    height: 50px;
    font-size: 19px;
    font-family: 'Circe Regular';
    font-weight: 500;
  }
  .form_teacher > input, .form_student > input {
    font-size: 22px;
  }
  .form_teacher > input::placeholder, .form_student > input::placeholder {
    font-size: 15px;
  }
  .wrap_err {
     width: 93%;
     position: absolute;
     left: 3%;
     top: 20px;
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr 3px 1fr 3px 1fr 3px 1fr;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 3px;
   }
   .each_err {
     margin-bottom: -1px;
     color: white;
     background-color: #FE2E2E;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     height: auto;
     border-radius: 10px;
     padding: 5px 20px;
     text-align: center;
     border-radius: 10px 10px 10px 0;
     font-size: 8px;
     padding: 4px;
   }
  .mod_co {
    top: -16px;
  }
  .nest_modal {
    width: 100%;
    height: 373px;
    top: -4vh;
  }
  #telecheck {
    width: 120px;
    position: relative;
    left: 35%;
  }
  #textDone {
    text-align: center;
  }
}
